# Importar bibliotecas a serem utilizadas

## Pandas - Biblioteca para manipulação de dados

In [1]:
import pandas as pd

## BeautifulSoap e Selenium - Bibliotecas para web scraping

In [2]:
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options

## Locale e DateTime - Bibliotecas para manipulação de localização e datas

In [3]:
import locale
import datetime

## Re - Biblioteca para manipulação de expressões regulares

In [4]:
import re

## Bibliotecas matématicas e estatísticas

In [5]:
#Bibliotecas matemáticas e estatísticas
import numpy as np
from scipy.stats import spearmanr
import statistics as sts
from scipy import stats as s

# Inicializar selenium

In [6]:
options = Options() # criar uma instancia do objeto Options
options.add_argument("--headless")  # Executar o script em modo headless (sem interface)
options.add_argument("--window-size=400x800") # Definir o tamanho da janela do navegador

## Inicializar chrome

In [7]:
driver = webdriver.Chrome(options=options)

# Configurar Locale

In [8]:
locale.setlocale(locale.LC_ALL, 'pt_PT.UTF-8') # Definir o idioma do sistema para portugues

'pt_PT.UTF-8'

# Inicialização de variáveis

In [9]:
URL ='https://www.ncrangola.com/loja/particulares/pt/350-informatica#/page-{pagina}' # URL do site

# Funções  auxiliares

In [10]:
''' Função para obter página '''
def get_url(url):
    driver.get(url) #Abrir a URL
    #search_results = driver.find_element_by_xpath('/html/body/div[3]/div[1]/header/div[4]/div/div[1]/div/div[1]/a')
    #search_results.click()
    return driver.page_source  # Obter o conteúdo da página

def click_link(url):
    source = get_url(url) # Obter a página
    site_data = BeautifulSoup(source, 'html.parser') # Transformar o conteúdo da página em um objeto BeautifulSoup
    return BeautifulSoup(site_data.prettify(), 'html.parser') # Retornar o conteúdo da página


'''Funçãão para retornar um array com os produtos'''    
def get_produtos(page_source):
    produtos = [] # Criar um array para armazenar os produtos
    for produto in page_source: # Percorrer todos os produtos
        produtos.append({ 'Nome': produto.h5.get_text().strip(),
                        'Marca': produto.h6.get_text().strip(),
                        'Preco': produto.find('span', attrs={'itemprop':'price'}).text.strip(),
                        'Link': produto.find('a').get('href'),
                        'Imagem': produto.find('img').get('src'),
                        'dataConsulta': datetime.datetime.now()})
                        
    return produtos

# Tratamento dos dados

In [11]:
# Criar um dataframe para armazenar os produtos
df_produtos = pd.DataFrame(columns=['Nome','Marca','Preco','Link','Imagem','dataConsulta'])

In [12]:
   
# Fazer um loop para obter todas as páginas e obter os produtos
for page in range(1,8):
    url = URL.format(pagina=page) # Criar a URL com a página a ser consultada
    data = click_link(url) #Obter o conteúdo da página
    produtos = data.find_all('div', attrs={'class':'produto_geral'}) # Obter todos os produtos
    dataset= get_produtos(produtos) # Obter os produtos
    df_produtos = df_produtos.append(dataset,ignore_index=True) # Adicionar os produtos ao dataframe

In [13]:
df_produtos.count() # Contar o número de produtos

Nome            420
Marca           420
Preco           420
Link            420
Imagem          420
dataConsulta    420
dtype: int64

In [ ]:
df_produtos.replace(' ', '', regex=True, inplace=True) # Remover os espaços em branco

In [ ]:
# Substituir o símbolo de Kwanza para o símbolo de euro para se adequar ao locale
df_produtos.replace('AKZ', ' €', regex=True, inplace=True)

In [ ]:
# Transformar o preço em float
df_produtos['Preco'] = df_produtos['Preco'].apply(lambda x: locale.atof(x.split()[0]))

In [ ]:
# Ver o tipo de dados do DataFrame
df_produtos.dtypes

Nome                    object
Marca                   object
Preco                  float64
Link                    object
Imagem                  object
dataConsulta    datetime64[ns]
dtype: object

In [ ]:
# Remover os produtos duplicados
df_produtos.drop_duplicates(subset=['Nome','Marca'], keep='first', inplace=True)

In [ ]:
# Mostrar os 5 primeiros produtos
df_produtos.head()

,Nome,Marca,Preco,Link,Imagem,dataConsulta
0,TRANSFORMADOR65WTRAVEL,LENOVO,24176.0,https://www.ncrangola.com/loja/particulares/pt/transformadores/12030-transf-lenovo-65w-travel-ac-adapt.html,https://www.ncrangola.com/loja/particulares/15146-home_default/transf-lenovo-65w-travel-ac-adapt.jpg,2021-11-19 14:24:35.045070
1,ADAPTADORUSB3.0TIPO-CPARAVGA,HP,24252.0,https://www.ncrangola.com/loja/particulares/pt/adaptadores/13915-adapt-usb-c-to-vga-hp.html,https://www.ncrangola.com/loja/particulares/16449-home_default/adapt-usb-c-to-vga-hp.jpg,2021-11-19 14:24:35.045257
2,CARTÃODEMEMÓRIASD128GBCL10170RGO!PLUS,KINGSTON,24374.0,https://www.ncrangola.com/loja/particulares/pt/cartoes-de-memoria/18126-mod-sd-card-128gb-cl10-kingston-170r-go-plus.html,https://www.ncrangola.com/loja/particulares/28602-home_default/mod-sd-card-128gb-cl10-kingston-170r-go-plus.jpg,2021-11-19 14:24:35.045516
3,TECLADOCOMFIO300PTPRETO,HP,24403.0,https://www.ncrangola.com/loja/particulares/pt/rato-e-teclado/15358-teclado-hp-usb-300.html,https://www.ncrangola.com/loja/particulares/23320-home_default/teclado-hp-usb-300.jpg,2021-11-19 14:24:35.045709
4,RATOSEMFIOWIRELESSZ4000PRETO,HP,24692.0,https://www.ncrangola.com/loja/particulares/pt/rato-e-teclado/1537-rato-hp-wifi-z4000-preto.html,https://www.ncrangola.com/loja/particulares/20247-home_default/rato-hp-wifi-z4000-preto.jpg,2021-11-19 14:24:35.045891

In [ ]:
# Mostrar a contagem de itens em cada coluna
df_produtos.count()

Nome            119
Marca           119
Preco           119
Link            119
Imagem          119
dataConsulta    119
dtype: int64

# Formatação de dados pandas

In [ ]:
# Formatar o dataframe para que os valores sejam apresentados como float
formato = { 'Preco': '{0:,.2f} Kz'}
df_produtos.head().style.format(formato)

# Análise de dados

### Análise de dados - Total de produtos

In [ ]:
# Mostrar o total de produtos
print('Total de produtos:',len(df_produtos),sep=':')

Total de produtos::119

## Agrupamento de dados

### Agrupamento de dados usando funções matématicas básicas.

#### Agrupamento de dados - contagem,média,médiana,desvio padrão, max e minímo.

In [ ]:
agg_funcao_math = {'Preco': ['min', 'max', 'mean', 'median', 'std']} # Definir as funções matemáticas a serem aplicadas

df_produtos.groupby('Marca').agg(agg_funcao_math).round(2)

                   Preco
                     min       max      mean    median       std
Marca
AVERY            9827.00   9827.00   9827.00   9827.00       NaN
CASELOGIC        7137.00  24838.00  15987.50  15987.50  12516.50
CELLY            7169.00   9804.00   8372.50   8144.50   1341.82
DLINK            8796.24  27643.86  19833.25  26387.58   9570.77
FELLOWES         8707.32   9462.00   9084.66   9084.66    533.64
GENIUS           7249.00   8705.00   8137.87   8705.00    719.67
HP               8167.00  32669.00  25108.73  26300.00   7327.00
INTELLINET       8268.00  25657.00  13234.50   9506.50   8302.24
KASPERSKY        9952.00   9952.00   9952.00   9952.00       NaN
KINGSLONG        8384.00   8934.00   8590.33   8453.00    271.52
KINGSTON         9275.00  35014.00  27524.98  30736.44   9756.29
KSTATIONERY     25345.00  25345.00  25345.00  25345.00       NaN
LDNIO            7764.00   7764.00   7764.00   7764.00       NaN
LENOVO          24176.00  24176.00  24176.00  24176.00       NaN
MANHATTAN        7307.00  34633.00  14360.85   9330.00   9657.35
MARSHMALLOW     25616.00  25616.00  25616.00  25616.00       NaN
MAXELL           7143.00  31806.00  12586.30   8692.00   9259.64
MISSLEMONADE    25081.00  26701.00  26006.71  26701.00    865.93
NCR             26701.00  26701.00  26701.00  26701.00       NaN
NGS              8162.00  30081.00  22700.33  29858.00  12591.06
SAMSUNG         31595.00  31595.00  31595.00  31595.00       NaN
TARGUS          24913.00  32307.00  27067.80  25839.00   2979.31
THULE           31285.00  31285.00  31285.00  31285.00       NaN
TOSHIBA         26007.00  26007.00  26007.00  26007.00       NaN
TRANSCEND        8011.00  30725.00  14230.50   9365.00   9811.07
UNKEEPER        24744.00  24744.00  24744.00  24744.00      0.00
WESTERNDIGITAL  32289.36  32289.36  32289.36  32289.36       NaN
WINTECH         24940.00  24940.00  24940.00  24940.00       NaN
XIAOMI          28022.00  28022.00  28022.00  28022.00       NaN

#### Agrupamento de dados - Resumo estátistico

In [ ]:
agg_funcao_estatistica = {'Preco': ['describe']} # Definir as funções estatísticas a serem aplicadas
df_produtos.groupby('Marca').agg(agg_funcao_estatistica).round(2)

                  Preco                                                    \
               describe
                  count      mean       std       min       25%       50%
Marca
AVERY               1.0   9827.00       NaN   9827.00   9827.00   9827.00
CASELOGIC           2.0  15987.50  12516.50   7137.00  11562.25  15987.50
CELLY               6.0   8372.50   1341.82   7169.00   7169.00   8144.50
DLINK               5.0  19833.25   9570.77   8796.24   9951.00  26387.58
FELLOWES            2.0   9084.66    533.64   8707.32   8895.99   9084.66
GENIUS              7.0   8137.87    719.67   7249.00   7448.06   8705.00
HP                 15.0  25108.73   7327.00   8167.00  24547.50  26300.00
INTELLINET          4.0  13234.50   8302.24   8268.00   9180.75   9506.50
KASPERSKY           1.0   9952.00       NaN   9952.00   9952.00   9952.00
KINGSLONG           6.0   8590.33    271.52   8384.00   8384.00   8453.00
KINGSTON            6.0  27524.98   9756.29   9275.00  25899.00  30736.44
KSTATIONERY         1.0  25345.00       NaN  25345.00  25345.00  25345.00
LDNIO               1.0   7764.00       NaN   7764.00   7764.00   7764.00
LENOVO              1.0  24176.00       NaN  24176.00  24176.00  24176.00
MANHATTAN          17.0  14360.85   9657.35   7307.00   7634.00   9330.00
MARSHMALLOW         1.0  25616.00       NaN  25616.00  25616.00  25616.00
MAXELL             10.0  12586.30   9259.64   7143.00   8011.25   8692.00
MISSLEMONADE        7.0  26006.71    865.93  25081.00  25081.00  26701.00
NCR                 1.0  26701.00       NaN  26701.00  26701.00  26701.00
NGS                 3.0  22700.33  12591.06   8162.00  19010.00  29858.00
SAMSUNG             1.0  31595.00       NaN  31595.00  31595.00  31595.00
TARGUS              5.0  27067.80   2979.31  24913.00  25839.00  25839.00
THULE               1.0  31285.00       NaN  31285.00  31285.00  31285.00
TOSHIBA             1.0  26007.00       NaN  26007.00  26007.00  26007.00
TRANSCEND           8.0  14230.50   9811.07   8011.00   8740.25   9365.00
UNKEEPER            3.0  24744.00      0.00  24744.00  24744.00  24744.00
WESTERNDIGITAL      1.0  32289.36       NaN  32289.36  32289.36  32289.36
WINTECH             1.0  24940.00       NaN  24940.00  24940.00  24940.00
XIAOMI              1.0  28022.00       NaN  28022.00  28022.00  28022.00



                     75%       max
Marca
AVERY            9827.00   9827.00
CASELOGIC       20412.75  24838.00
CELLY            9633.00   9804.00
DLINK           26387.58  27643.86
FELLOWES         9273.33   9462.00
GENIUS           8705.00   8705.00
HP              29602.00  32669.00
INTELLINET      13560.25  25657.00
KASPERSKY        9952.00   9952.00
KINGSLONG        8831.00   8934.00
KINGSTON        34010.22  35014.00
KSTATIONERY     25345.00  25345.00
LDNIO            7764.00   7764.00
LENOVO          24176.00  24176.00
MANHATTAN       24753.00  34633.00
MARSHMALLOW     25616.00  25616.00
MAXELL           8995.75  31806.00
MISSLEMONADE    26701.00  26701.00
NCR             26701.00  26701.00
NGS             29969.50  30081.00
SAMSUNG         31595.00  31595.00
TARGUS          26441.00  32307.00
THULE           31285.00  31285.00
TOSHIBA         26007.00  26007.00
TRANSCEND       14695.25  30725.00
UNKEEPER        24744.00  24744.00
WESTERNDIGITAL  32289.36  32289.36
WINTECH         24940.00  24940.00
XIAOMI          28022.00  28022.00

In [ ]:
df_produtos.groupby('Marca')['Preco'].agg(['min','max','mean','median','std']).style.format('{0:,.2f} Kz')

#### Contagem de dados

In [ ]:
agg_funcao_contagem = {'Preco' : ['count','nunique','size']} # Definir as funções de contagem a serem aplicadas
df_produtos.groupby('Marca').agg(agg_funcao_contagem).round(2)

               Preco
               count nunique size
Marca
AVERY              1       1    1
CASELOGIC          2       2    2
CELLY              6       3    6
DLINK              5       4    5
FELLOWES           2       2    2
GENIUS             7       3    7
HP                15      15   15
INTELLINET         4       4    4
KASPERSKY          1       1    1
KINGSLONG          6       3    6
KINGSTON           6       5    6
KSTATIONERY        1       1    1
LDNIO              1       1    1
LENOVO             1       1    1
MANHATTAN         17      15   17
MARSHMALLOW        1       1    1
MAXELL            10      10   10
MISSLEMONADE       7       2    7
NCR                1       1    1
NGS                3       3    3
SAMSUNG            1       1    1
TARGUS             5       4    5
THULE              1       1    1
TOSHIBA            1       1    1
TRANSCEND          8       8    8
UNKEEPER           3       1    3
WESTERNDIGITAL     1       1    1
WINTECH            1       1    1
XIAOMI             1       1    1

#### Agrupamento de dados - Maior e Menor Preço

In [ ]:
#agg_funcao_maior_menor = {'Preco' : ['first','last']} # Definir as funções de maior e menor a serem aplicadas
agg_funcao_maior_menor = {'Preco' : ['min','max']} # Definir as funções de maior e menor a serem aplicadas
#agg_funcao_maior_menor = {'Preco' : ['idxmin','idxmax']} #inidice do valor maximo e minimo
df_produtos.groupby('Marca').agg(agg_funcao_maior_menor).round(2)

                   Preco
                     min       max
Marca
AVERY            9827.00   9827.00
CASELOGIC        7137.00  24838.00
CELLY            7169.00   9804.00
DLINK            8796.24  27643.86
FELLOWES         8707.32   9462.00
GENIUS           7249.00   8705.00
HP               8167.00  32669.00
INTELLINET       8268.00  25657.00
KASPERSKY        9952.00   9952.00
KINGSLONG        8384.00   8934.00
KINGSTON         9275.00  35014.00
KSTATIONERY     25345.00  25345.00
LDNIO            7764.00   7764.00
LENOVO          24176.00  24176.00
MANHATTAN        7307.00  34633.00
MARSHMALLOW     25616.00  25616.00
MAXELL           7143.00  31806.00
MISSLEMONADE    25081.00  26701.00
NCR             26701.00  26701.00
NGS              8162.00  30081.00
SAMSUNG         31595.00  31595.00
TARGUS          24913.00  32307.00
THULE           31285.00  31285.00
TOSHIBA         26007.00  26007.00
TRANSCEND        8011.00  30725.00
UNKEEPER        24744.00  24744.00
WESTERNDIGITAL  32289.36  32289.36
WINTECH         24940.00  24940.00
XIAOMI          28022.00  28022.00

#### Agrupamento de dados - Stats

# Exportação dos dados para excel

In [ ]:
df_produtos.to_excel('NCR_produtos_3.xlsx',index=False) # Exportar o dataframe para um arquivo Excel