In [356]:
import pandas as pd
import numpy as np
from faker import Faker
from faker_airtravel import AirTravelProvider
from datetime import datetime
from random import randrange
import random

### váriaveis

In [357]:
fcompras = []
dfornecedor = []
dcomprador = []
dmateriaprima = []
fcustopadrao = []
n = 1000

In [358]:
fake = Faker('pt_BR')
fake.add_provider(AirTravelProvider)

# Criar tabela dFornecedor

In [359]:
for n in range(n):
    
    idFornecedor =fake.unique.pyint()
    fornecedor = fake.name_nonbinary()
    PrazoEntregaPadrao = randrange(20)
    dfornecedor.append([idFornecedor,fornecedor,PrazoEntregaPadrao])
dataFrame_dfornecedor = pd.DataFrame(dfornecedor,columns=['idFornecedor','fornecedor','PrazoEntregaPadrao'])

# Criar tabela dComprador

In [360]:
for n in range(n):
    
    idComprador =fake.unique.pyint()
    comprador = fake.name_nonbinary()
  
    dcomprador.append([idComprador,comprador])
dataFrame_dcomprador = pd.DataFrame(dcomprador,columns=['idComprador','comprador'])

# Criar tabela dMateriaPrima

In [361]:
for n in range(n):
    
    idMateriaPrima = fake.unique.pyint()
    materiaPrima = fake.airport_iata()
    
    dmateriaprima.append([idMateriaPrima,materiaPrima])
dataFrame_dmateriaprima = pd.DataFrame(dmateriaprima,columns=['idMateriaPrima','materiaPrima'])

## Criar tabela fcompras

In [362]:
for m in range(n):
    
    d1 = datetime.strptime(f'01/01/2021','%d/%m/%Y')
    d2 = datetime.strptime(f'29/06/2021','%d/%m/%Y')
    
    d3 = datetime.strptime(f'30/06/2021','%d/%m/%Y')
    d4 = datetime.strptime(f'30/08/2021','%d/%m/%Y')

    d5 = datetime.strptime(f'01/09/2021','%d/%m/%Y')
    d6 = datetime.strptime(f'05/11/2021','%d/%m/%Y')
    
    idRequisicao = fake.unique.isbn10()
    dataRequisicao = fake.date_between(d1,d2)
    dataSaida = fake.date_between(d3,d4)
    dataEntrega = fake.date_between(d5,d6)
    
    #idComprador = fake.unique.isbn10()
    #comprador = fake.name()
    
    #idMateriaPrima = fake.unique.isbn10()
    #materiaPrima = fake.airport_iata()
    
    #idFornecedor =fake.unique.isbn10()
    #fornecedor = fake.name_nonbinary()
    
    #prazodeEntregaFornecedor = randrange(20)
    TemContrato=random.choice(['Sim','Não'])
    
    quantidade= randrange(20)
    custoUnitario=fake.pyfloat(right_digits=2,positive=True,min_value=500,max_value=1000)
    ValorTotal= custoUnitario * quantidade
    
    fcompras.append([idRequisicao,dataRequisicao,dataSaida,dataEntrega,TemContrato,quantidade,custoUnitario,ValorTotal])
dataFramefcompras =  pd.DataFrame(fcompras,columns=['idRequisicao','dataRequisicao','dataSaida','dataEntrega',
                                                    'TemContrato','quantidade','custoUnitario','ValorTotal'
                    ])

In [363]:
dataFramefcompras['idComprador'] = dataFrame_dcomprador['idComprador']
dataFramefcompras['idFornecedor'] = dataFrame_dfornecedor['idFornecedor']
dataFramefcompras['idMateriaPrima'] = dataFrame_dmateriaprima['idMateriaPrima']
dataFramefcompras['DataPrevistaEntrega']= pd.to_datetime(dataFramefcompras.dataSaida) + pd.to_timedelta(pd.np.ceil(dataFrame_dfornecedor.PrazoEntregaPadrao),unit="D")

<ipython-input-363-3a784b822f3f>:4: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  dataFramefcompras['DataPrevistaEntrega']= pd.to_datetime(dataFramefcompras.dataSaida) + pd.to_timedelta(pd.np.ceil(dataFrame_dfornecedor.PrazoEntregaPadrao),unit="D")

In [364]:
dataFramefcompras.head()

,idRequisicao,dataRequisicao,dataSaida,dataEntrega,TemContrato,quantidade,custoUnitario,ValorTotal,idComprador,idFornecedor,idMateriaPrima,DataPrevistaEntrega
0,1-120-54579-X,2021-05-18,2021-07-18,2021-09-17,Sim,4,926.36,3705.44,4314,5619,7203,2021-07-28
1,0-85512-018-5,2021-03-23,2021-08-17,2021-09-10,Sim,19,832.18,15811.42,7288,6688,3828,2021-09-05
2,0-85452-746-X,2021-01-02,2021-07-27,2021-09-28,Não,13,722.32,9390.16,389,5904,5329,2021-07-31
3,1-59815-702-7,2021-03-28,2021-07-25,2021-09-06,Sim,6,747.75,4486.50,2640,1292,6018,2021-08-05
4,0-264-87742-X,2021-06-17,2021-08-28,2021-10-18,Sim,3,568.79,1706.37,331,2879,9128,2021-09-07

# Criar tabela fCustosPadrão

In [365]:
dataFramefcompras.head()

,idRequisicao,dataRequisicao,dataSaida,dataEntrega,TemContrato,quantidade,custoUnitario,ValorTotal,idComprador,idFornecedor,idMateriaPrima,DataPrevistaEntrega
0,1-120-54579-X,2021-05-18,2021-07-18,2021-09-17,Sim,4,926.36,3705.44,4314,5619,7203,2021-07-28
1,0-85512-018-5,2021-03-23,2021-08-17,2021-09-10,Sim,19,832.18,15811.42,7288,6688,3828,2021-09-05
2,0-85452-746-X,2021-01-02,2021-07-27,2021-09-28,Não,13,722.32,9390.16,389,5904,5329,2021-07-31
3,1-59815-702-7,2021-03-28,2021-07-25,2021-09-06,Sim,6,747.75,4486.50,2640,1292,6018,2021-08-05
4,0-264-87742-X,2021-06-17,2021-08-28,2021-10-18,Sim,3,568.79,1706.37,331,2879,9128,2021-09-07

In [366]:
dataFramfcustopadrao = pd.DataFrame(columns=['idMateriaPrima','idFornecedor','custoUnitarioPadrao'])

In [367]:
dataFramfcustopadrao['idMateriaPrima']=dataFramefcompras['idMateriaPrima']
dataFramfcustopadrao['idFornecedor']=dataFramefcompras['idFornecedor']

In [368]:
custoUnitarioPadrao = []

In [369]:
for n in range(n):
    dataValor=fake.pyfloat(right_digits=2,positive=True,min_value=1,max_value=500,)
    
    custoUnitarioPadrao.append(dataValor)

In [370]:
dataFramfcustopadrao['custoUnitarioPadrao'] = custoUnitarioPadrao

In [371]:
dataFramfcustopadrao.head()

   idMateriaPrima  idFornecedor  custoUnitarioPadrao
0            7203          5619               458.24
1            3828          6688               108.40
2            5329          5904               433.77
3            6018          1292               434.79
4            9128          2879               181.42

# Exportar dados

In [372]:
dataFramefcompras.to_excel('fcompras.xlsx',index=False)
dataFramfcustopadrao.to_excel('fcustopadrao.xlsx',index=False)
dataFrame_dfornecedor.to_excel('dfornecedor.xlsx',index=False)
dataFrame_dcomprador.to_excel('dcomprador.xlsx',index=False)
dataFrame_dmateriaprima.to_excel('dmateriaprima.xlsx',index=False)

In [373]:
dataFramefcompras.head()

,idRequisicao,dataRequisicao,dataSaida,dataEntrega,TemContrato,quantidade,custoUnitario,ValorTotal,idComprador,idFornecedor,idMateriaPrima,DataPrevistaEntrega
0,1-120-54579-X,2021-05-18,2021-07-18,2021-09-17,Sim,4,926.36,3705.44,4314,5619,7203,2021-07-28
1,0-85512-018-5,2021-03-23,2021-08-17,2021-09-10,Sim,19,832.18,15811.42,7288,6688,3828,2021-09-05
2,0-85452-746-X,2021-01-02,2021-07-27,2021-09-28,Não,13,722.32,9390.16,389,5904,5329,2021-07-31
3,1-59815-702-7,2021-03-28,2021-07-25,2021-09-06,Sim,6,747.75,4486.50,2640,1292,6018,2021-08-05
4,0-264-87742-X,2021-06-17,2021-08-28,2021-10-18,Sim,3,568.79,1706.37,331,2879,9128,2021-09-07

In [374]:
dataFramfcustopadrao.head()

   idMateriaPrima  idFornecedor  custoUnitarioPadrao
0            7203          5619               458.24
1            3828          6688               108.40
2            5329          5904               433.77
3            6018          1292               434.79
4            9128          2879               181.42

In [375]:
dataFrame_dfornecedor.head()

   idFornecedor           fornecedor  PrazoEntregaPadrao
0          5619    Catarina Silveira                  10
1          6688       Eduardo Moraes                  19
2          5904           Yuri Cunha                   4
3          1292     Nicolas Monteiro                  11
4          2879  Maria Luiza Rezende                  10

In [376]:
dataFrame_dcomprador.head()

   idComprador         comprador
0         4314        Ana Duarte
1         7288    Mariana Moraes
2          389  Thales Fernandes
3         2640    Thomas da Mota
4          331    Laís Fernandes

In [377]:
dataFrame_dmateriaprima.head()

   idMateriaPrima materiaPrima
0            7203          LUX
1            3828          BOG
2            5329          CGQ
3            6018          KTM
4            9128          GDL